<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softlab.bbsmanager.core.mapper.AnswerMapper">
    <resultMap id="Answer" type="com.softlab.bbsmanager.core.model.Answer">
        <result property="answerId" column="ans_id"/>
        <result property="userId" column="user_id"/>
        <result property="answerContent" column="ans_content"/>
        <result property="boardId" column="board_id"/>
        <result property="questionId" column="que_id"/>
        <result property="answerLikeNum" column="ans_likenum"/>
        <result property="answerTop" column="answer_top"/>
        <result property="answerCreateTime" column="ans_createtime"/>
        <result property="answerLock" column="ans_lock"/>
    </resultMap>

    <insert id="insertAnswer" >
        insert
        into answers
        (ans_id, user_id, ans_content, board_id,
        que_id,ans_top, ans_createtime,
        answer_likenum, ans_lock)
        value
        (#{answer.answerId}, #{answer.userId}, #{answer.answerContent},
        #{answer.boardId}, #{questionId}, 0, #{answer.answerCreateTime}, 0, 0)
    </insert>

    <update id="updateAnswer">
        update answers
        <set>
            <if test="answer.answerContent != null
            and '' != answer.answerContent">
                ans_content = #{answer.answerContent},
            </if>
            <if test="answer.answerLikeNum != null">
                ans_likenum = #{answer.answerLikeNum},
            </if>
            <if test="answer.answerTop != null">
                ans_top = #{answer.answerTop},
            </if>
        </set>
        where ans_id = #{answerId}
    </update>

    <delete id="deleteAnswerById" parameterType="String">
        delete from answers
        where ans_id = #{answerId}
    </delete>

    <select id="selectAnswerById" parameterType="String" resultMap="Answer">
        select *
        from answers
        where ans_id = #{answerId}
    </select>

    <select id="selectAnswerByUserId" resultMap="Answer" parameterType="String">
        select *
        from answers
        where user_id = #{userId}
    </select>

    <select id="selectAnswerByQuestion" parameterType="String" resultMap="Answer">
        select *
        from answers
        where que_id = #{questionId}
    </select>

    <update id="likeAnswer" parameterType="String">
        update answers
        set ans_likenum = ans_likenum + 1
        where ans_id = #{answerId}
    </update>

    <update id="answerLock" parameterType="int">
        update answers
        set ans_lock = #{answerLock}
        where ans_id = #{answerId}
    </update>

    <select id="getAnswerLock">
        select ans_lock from answers where ans_id = #{answerId}
    </select>
</mapper>