<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.softlab.bbsmanager.core.mapper.ArticleMapper">
    <resultMap id="Article" type="com.softlab.bbsmanager.core.model.Article">
        <result column="art_id" property="articleId"/>
        <result column="user_id" property="userId"/>
        <result column="art_content" property="articleContent"/>
        <result column="art_likenum" property="articleLikeNum"/>
        <result column="art_title" property="articleTitle"/>
        <result column="art_createtime" property="articleCreateTime"/>
    </resultMap>

    <delete id="deleteArticleById" parameterType="String">
        delete from articles
        where art_id = #{articleId}
    </delete>

    <update id="lockArticleById" >
        update articles
        set art_lock = #{articleLock}
        where art_id = #{articleId}
    </update>

    <update id="likeArticle" parameterType="String">
        update articles
        set art_likenum = art_likenum + 1
        where art_id = #{articleId}
    </update>

    <insert id="insertArticle" parameterType="Article">
        insert into articles
        (art_id, user_id, art_content, art_likenum,
        art_title, art_createtime, art_lock)
        value
        (#{articleId}, #{userId}, #{articleContent}, 0,
        #{articleTitle}, #{articleCreateTime},#{articleLock})
    </insert>

    <!--这里有一个要注意的点，没有用if判断的方法，假如前端传入数据为空或者没有传入该项目，写入数据库中就会把原来的数据置空-->
    <update id="updateArticle">
        update articles
        <set>
            <if test="article.articleContent != null and '' != article.articleContent">
                art_content = #{article.articleContent},
            </if>
            <if test="article.articleLikeNum != null">
                art_likenum = #{article.articleLikeNum},
            </if>
            <if test="article.articleTitle != null and '' != article.articleTitle">
                art_title = #{article.articleTitle}
            </if>
        </set>
        where art_id = #{articleId}
    </update>

    <select id="selectArticleById" parameterType="String" resultMap="Article">
        select *
        from articles
        where art_id = #{articleId}
    </select>

    <select id="selectArticleByUserId" resultMap="Article">
        select *
        from articles
        where user_id = #{userId}
    </select>
</mapper>